@import "colors";
@import "containers";

:host {
  display: block;
  padding-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    padding-top: 3rem;
    padding-left: 3rem;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: var(--cx-font-weight-semi);
}

.summary-body {
  padding-bottom: 1rem;
}

.summary-total {
  font-weight: var(--cx-font-weight-bold);
  font-size: 1.2rem;
  border-top: 0.1rem solid $platinum;
}

.summary-amount {
  text-align: right;
}

.summary-label {
  padding: 0;
}

.summary-row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.discount {
  color: var(--cx-color-success);
  font-weight: var(--cx-font-weight-bold);
  font-size: 1.2rem;
}
